<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  
  <mat-form-field>
    <input matInput placeholder="Enter name" formControlName="name" required>
    <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched) && name?.errors.required">
      Name is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Category" formControlName="category" required>
    <mat-error *ngIf="category?.invalid && (category?.dirty || category?.touched) && category?.errors.required">
      Category is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Amount" formControlName="amount" required>
    <mat-error *ngIf="amount?.invalid && (amount?.dirty || amount?.touched) && amount?.errors.required">
      Amount is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Price" formControlName="price" required>
    <mat-error *ngIf="price?.invalid && (price?.dirty || price?.touched) && price?.errors.required">
      Price is required!
    </mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary"
    type="submit"
    [disabled]="productForm?.invalid"
  >Save</button>

</form>