<h1>Details</h1>

<ng-container *ngIf="product">
  <mat-nav-list>
    <p>Name:  <span>{{product?.name}}</span> </p>
    <p>Amount:  <span>{{product?.amount}}</span> piece(s)</p>
    <p>Category: <span>{{product?.category}}</span>  </p> 
    <p>Price:  <span>${{product?.price}} </span></p>
    <p>Created At: <span>{{product?.createdAt | date}}</span></p> 
  </mat-nav-list>
</ng-container>

<p *ngIf="product && authService.user.role == 'ROLE_ADMIN'">
    <a style="margin: .5rem" mat-flat-button color="primary" [routerLink]="['/products', product.id, 'edit']">Edit</a>
    <a mat-flat-button color="warn" (click)="deleteProduct(product.id)">Delete</a>
</p>