<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <!-- <mat-icon>home</mat-icon> -->
    Warehouse tracker
  </button>
  <div *ngIf="authService.isLoggedIn">
    <button mat-button routerLink="/products">Products</button>
    <button mat-button routerLink="/products/add">New product</button>
    <ng-container *ngIf="authService.user.role == 'ROLE_ADMIN'">
      <button mat-button routerLink="/users">List users</button>
    </ng-container>
    <span>Hello, {{ authService.user.username }}!</span>
    <button mat-button (click)="logout()">Logout</button>
  </div>
  <div *ngIf="!authService.isLoggedIn">
    <button mat-button routerLink="/login">Login</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>