<h2>Product list</h2>

<status-filter [status]="selectedStatus"
  (change)="onFilterChange($event)"
></status-filter>

<mat-nav-list>
  <a *ngFor="let product of filteredProducts" mat-list-item
    (click)="selectedProduct = product"
    [class.selected]="product === selectedProduct"
    [routerLink]="['/products', product.id]"
  >
    <mat-icon *ngIf="product.category === 'laptop'"   matListIcon style="color: red">laptop</mat-icon>
    <mat-icon *ngIf="product.category === 'accessories'" matListIcon style="color: orange">devices_other</mat-icon>
    <mat-icon *ngIf="product.category === 'console'" matListIcon style="color: green">videogame_asset</mat-icon>

    <h3 matLine>{{ product.name }}</h3>
    <small matLine>
      <mat-icon>store</mat-icon> {{ product.amount }} (pieces)
      <mat-icon>access_time</mat-icon> {{ product.createdAt | date }}
    </small>

    <!-- <p matLine>{{ product.name }}</p> -->
  </a>
</mat-nav-list>