<h2>List of users </h2>

<mat-nav-list *ngFor="let user of users">

  <small matLine>
    
      <mat-icon>account_box</mat-icon>{{ user.name }}
      <mat-icon></mat-icon> {{ user.username }}
    
  </small>
  <a mat-flat-button color="warn" (click)="deleteUser(user.id)">Delete</a>
</mat-nav-list>