<mat-button-toggle-group [value]="selectedStatus"
  (change)="onFilterChange($event)"
>
  <mat-button-toggle value="">All</mat-button-toggle>
  <mat-button-toggle value="laptop">Laptop</mat-button-toggle>
  <mat-button-toggle value="accessories">Accessories</mat-button-toggle>
  <mat-button-toggle value="console">Console</mat-button-toggle>

</mat-button-toggle-group>